name: Sprint Branch Workflow
on: workflow_dispatch
permissions: { contents: write }

jobs:
  manage-branches:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Git commands
        env:
          PREV_SPRINT_BRANCH_IDEV: ${{ vars.PREV_SPRINT_BRANCH_IDEV }}
          PR_SPRINT_BRANCH_IDEV: ${{ vars.PR_SPRINT_BRANCH_IDEV }}
        run: |
          echo "PREV: '$PREV_SPRINT_BRANCH_IDEV'"
          echo "NEW: '$PR_SPRINT_BRANCH_IDEV'"
          
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git fetch --all --tags
          git checkout master
          git pull origin master
          git tag "master-${PREV_SPRINT_BRANCH_IDEV}-end"
          git push origin --tags
          git checkout "$PR_SPRINT_BRANCH_IDEV" || git checkout -b "$PR_SPRINT_BRANCH_IDEV"
          
      - name: Confirm branch
        run: git branch --show-current
